@font-face {
  font-family: "Proxima"; 
  src: local("Proxima"),
  url('./ProximaNova-Regular.woff') format("truetype"); 
  font-weight: 400; 
} 
@font-face {
  font-family: "Proxima"; 
  src: local("Proxima"),
  url('./ProximaNova-Bold.woff') format("truetype"); 
  font-weight: 700; 
} 
@font-face {
  font-family: "Proxima"; 
  src: local("Proxima"),
  url('./ProximaNova-Extrabld.woff') format("truetype"); 
  font-weight: 800; 
} 
